*{
    box-sizing:border-box; /*es una propiedad CSS que define cómo se calcula el ancho y la altura de un elemento*/
    }                    /*Con esta propiedad, el padding y el border se incluyen dentro de la altura y el ancho especificados, en lugar de sumarse a ellos y aumentar el tamaño total de la caja*/
    body{
        margin:0;
        font-family:sans-serif;
        background-color: #f5f6f7;
      }
    .gallery img{
        width: 100%;
        max-width:350px;
        height:300px;
        object-fit:cover;
        border-radius:10px;

      }
      .header{
        text-align:center;
        text-transform: uppercase;
        padding:32px;
        background-color: #0a0a23;
        color: #fff;
        border-bottom: 4px solid #fdb347;
      }
      .gallery{
        display: flex; /*Esto hará que el elemento sea un flex container*/
        flex-direction:row; /*Flexbox tiene un eje principal y otro transversal. El eje principal está definido por la propiedad flex-direction*/
        flex-wrap: wrap; /*Si se establece como wrap, los elementos se colocan en la siguiente fila o columna*/
        justify-content: center;/*determina cómo se posicionan los elementos dentro de un contenedor flex a lo largo del eje principal,*/
        align-items:center; /*align-items posiciona el contenido flex a lo largo del eje transversal*/
        padding:20px 10px;
        max-width: 1400px;
        margin: 0 auto;
        gap: 16px; /*gap especifica los espacios, también conocidos como canales, entre filas y columnas. */
    }