*{
    box-sizing:content-box; /*es una propiedad CSS que define cómo se calcula el ancho y la altura de un elemento*/
    }
.gallery{
    width: 50%;
    border: 5px solid red;
  }
  img{
    width: 100%;
    padding: 5px;
    border:5px solid blue;
  }